 .s-container{
    position: relative;
}
.s-container .swiper{
    width: 70%;
    height: 12rem;
    position: unset;
}
  
.s-container .swiper-slide{
    background: white;
    display: flex;
    border-radius: 7px;
    padding: 1rem;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
} 
.s-container .swiper-button-prev{
    left: 3rem;
}
.s-container .swiper-button-next{
    right: 3rem;
}
.s-container .swiper-button-prev,.s-container .swiper-button-next
{
color: black;}
.left-s{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name{
    display: flex;
    flex-direction: column;
}
.name>:nth-child(1){
    font-size: 1.4rem;
    font-weight: 600;
}
.left-s>:nth-child(2){
 font-weight: bold;
 /* font-style: 2rem; */
 font-size:1.5rem;
 color: red;

}
.left-s>:nth-child(3){
    font-size: 0.8rem;
    border: 2px solid var(--black);
    padding: 5px 10px;
    width: max-content;
    border-radius: 15px;
}
.img-p{
    transform: rotate(-20deg); 
     /* it wil rotate the imge  */
     position: absolute;
     right: 0;
     width: 30%;
     height: 100%;
     /* bottom: 20%; */
}