.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
}
.wrapper{
    display: grid;
    align-items: flex-end;
    width:100%;
    grid-template-columns: 1fr 2fr 1fr;
}
.wrapper>img
{
    width: 25rem;
    justify-self:center;
}
.container>:nth-child(1)
{
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
}
.container>:nth-child(2)
{
    font-size: 0.8rem;
    text-transform: uppercase;
    display: block;
    /* text-align:right ; */
}
.wrapper>:nth-child(3){
    text-align: right;
}
.reviews{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.tCarousel{
    padding: 2rem;
  }
.carousel{
    width: 100%;
}

.testimonial{
    display:flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    padding: 1rem;
    gap:1rem;
    text-align: center;
}
.testimonial>img{
    position: absolute;
    width: 3rem;
    top: -1.9rem;
    left: 40%;

}
.testimonial>span:nth-of-type(1)
{
    align-items: center;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.testimonial>hr{
    height: 1px;
    width: 80%;
    background: rgb(207, 188, 188) ;
    border: none;
}
